{% extends 'webpages/main.html' %}

{% block content %}

<main class="flex-grow bg-white flex-grow p-4">
  <div class="flex items-center mb-4">
    <a href="index.html"><i class="fas fa-arrow-left">
      </i></a>
    <h1 class="text-2xl font-bold mx-auto">
      Categories
    </h1>
  </div>
  <div class="grid grid-cols-2 gap-4">
    <div class="bg-[#D7ECCD] p-4 rounded-lg flex flex-col items-center">
      <img alt="Flowers" class="h-12 w-12 mb-2" height="50" src="assets/flower.png" width="50" />
      <span>
        Flowers
      </span>
    </div>
    <div class="bg-[#D7ECCD] p-4 rounded-lg flex flex-col items-center">
      <img alt="Trees" class="h-12 w-12 mb-2" height="50" src="assets/tree.png" width="50" />
      <span>
        Trees
      </span>
    </div>
    <div class="bg-[#D7ECCD] p-4 rounded-lg flex flex-col items-center">
      <img alt="Herbs" class="h-12 w-12 mb-2" height="50" src="assets/herbs.png" width="50" />
      <span>
        Herbs
      </span>
    </div>
    <div class="bg-[#D7ECCD] p-4 rounded-lg flex flex-col items-center">
      <img alt="Shrubs" class="h-12 w-12 mb-2" height="50" src="assets/shrub.png" width="50" />
      <span>
        Shrubs
      </span>
    </div>
    <div class="bg-[#D7ECCD] p-4 rounded-lg flex flex-col items-center">
      <img alt="Aquatic" class="h-12 w-12 mb-2" height="50" src="assets/aquatic.png" width="50" />
      <span>
        Aquatic
      </span>
    </div>
    <div class="bg-[#D7ECCD] p-4 rounded-lg flex flex-col items-center">
      <img alt="Ferns" class="h-12 w-12 mb-2" height="50" src="assets/fern.png"="50" />
      <span>
        Ferns
      </span>
    </div>
    <div class="bg-[#D7ECCD] p-4 rounded-lg flex flex-col items-center">
      <img alt="Succulents" class="h-12 w-12 mb-2" height="50" src="assets/succulent.png" width="50" />
      <span>
        Succulents
      </span>
    </div>
    <div class="bg-[#D7ECCD] p-4 rounded-lg flex flex-col items-center">
      <img alt="Vines" class="h-12 w-12 mb-2" height="50" src="assets/vines.png" width="50" />
      <span>
        Vines
      </span>
    </div>
  </div>
</main>

{% endblock %}