<!DOCTYPE html>

<head>
  <title>Welcome to Plantify!</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <style>
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  </style>
  <script>
    function toggleMenu() {
      document.getElementById('dropdownMenu').classList.toggle('hidden');
    }
  </script>

</head>

<body class="bg-gray-100 h-screen flex flex-col justify-between">
  <!-- Header -->
  <header class="bg-[#B1E09C] flex items-center justify-between p-4">
    <a href="#"><img alt="Plant logo" class="h-10" height="100" src="assets/logo.png" width="40" /></a>
    <a href="#">
      <h1 class="text-black font-bold text-2xl">Plantify</h1>
    </a>
    <i class="fas fa-bars text-xl cursor-pointer" onclick="toggleMenu()"></i>
  </header>
  <!-- Dropdown Menu -->
  <div class="absolute top-20 right-5 bg-white shadow-md rounded-lg hidden w-60 z-10" id="dropdownMenu">
    <ul class="p-6">
      <li class="py-5">
        <a class="text-black" href="index.html">
          Home
        </a>
      </li>
      <li class="py-5">
        <a class="text-black" href="categories.html">
          Categories
        </a>
      </li>
      <li class="py-5">
        <a class="text-black" href="community.html">
          Community
        </a>
      </li>
      <li class="py-5">
        <a class="text-black" href="bookmark.html">
          Bookmark
        </a>
      </li>
      <li class="py-5">
        <a class="text-black" href="welcome.html">
          Sign Out
        </a>
      </li>
    </ul>
  </div>

  <!-- Main Content -->
  <main class="flex-grow bg-white">

    <!-- Search Bar -->
    <div class="p-4">
      <div class="relative">
        <input class="px-20 p-2 pl-10 rounded-full border border-gray-300" placeholder="Search for Plants"
          type="text" />
        <i class="fas fa-search absolute left-3 top-3 text-gray-400">
        </i>
      </div>
    </div>

    <!-- Discover Section -->
    <div class="p-5">
      <h2 class="text-lg font-semibold">
        Discover the World of Plants
      </h2>
      <div class="flex space-x-4 md:grid-cols-6 gap-4 mt-4 justify-center">
        <div class="flex flex-col items-center bg-[#D7ECCD] p-4 rounded-lg min-w-[150px]">
         <a href="capture.html"><i class="fas fa-camera text-2xl"></i></a>
          <span class="mt-4">
            Capture
          </span>
        </div>
        <div class="flex flex-col items-center bg-[#D7ECCD] p-4 rounded-lg min-w-[150px]">
          <a href="upload.html"><i class="fas fa-upload text-2xl"></i></a>
          <span class="mt-4">
            Upload
          </span>
        </div>
      </div>
    </div>

    <!-- Categories Section -->
    <div class="p-5">
      <h2 class="text-lg font-semibold">
        Categories
      </h2>
      <div class="flex overflow-x-auto space-x-4 mt-4 no-scrollbar">
        <div class="flex flex-col items-center bg-[#D7ECCD] p-4 rounded-lg min-w-[220px]">
          <a href="#"><img alt="Flowers" class="h-16 w-16" height="100" src="assets/flower.png" width="100" /></a>
          <span>Flowers</span>
        </div>
        <div class="flex flex-col items-center bg-[#D7ECCD] p-4 rounded-lg min-w-[220px]">
          <a href="#"><img alt="Trees" class="h-16 w-16" height="100" src="assets/tree.png" width="100" /></a>
          <span>Trees</span>
        </div>
        <div class="flex flex-col items-center bg-[#D7ECCD] p-4 rounded-lg min-w-[220px]">
          <a href="#"><img alt="Shrubs" class="h-16 w-16" height="100" src="assets/shrub.png" width="100" />
            <span>Shrubs</span></a>
        </div>
        <div class="flex flex-col items-center bg-[#D7ECCD] p-4 rounded-lg min-w-[220px]">
          <img alt="Herbs" class="h-16 w-16" height="100" src="assets/herbs.png" width="100" />
          <span>Herbs</span>
        </div>
        <div class="flex flex-col items-center bg-[#D7ECCD] p-4 rounded-lg min-w-[220px]">
          <img alt="Aquatic" class="h-16 w-16" height="100" src="assets/aquatic.png" width="100" />
          <span>Aquatic</span>
        </div>
        <div class="flex flex-col items-center bg-[#D7ECCD] p-4 rounded-lg min-w-[200px]">
          <img alt="Ferns" class="h-16 w-16" height="100" src="assets/fern.png" width="100" />
          <span>Ferns</span>
        </div>
        <div class="flex flex-col items-center bg-[#D7ECCD] p-4 rounded-lg min-w-[220px]">
          <img alt="Succulents" class="h-16 w-16" height="100" src="assets/succulent.png" width="100" />
          <span>Succulents</span>
        </div>
        <div class="flex flex-col items-center bg-[#D7ECCD] p-4 rounded-lg min-w-[220px]">
          <img alt="Vines" class="h-16 w-16" height="100" src="assets/vines.png" width="100" />
          <span>Vines</span>
        </div>
      </div>
    </div>
    <div class="flex justify-end mt-2">
      <a href="categories.html"><button class="text-green-600 right-10 hover:text-[#B1E09C]">
        See More
        <i class="fas fa-arrow-right">
        </i></a>
      </button>
    </div>
    </div>


  </main>


  <!-- Footer -->
  <footer class="bg-[#B1E09C] flex justify-between items-center p-4 relative">
    <div class="flex flex-col items-center mx-12">
      <a href="index.html"><i class="fas fa-home text-black text-2xl"></i></a>
      <span class="text-black text-sm">Home</span>
    </div>
    <div class="bg-white p-4 rounded-full shadow-lg -mt-1">
      <i class="fas fa-camera text-2xl text-black">
      </i>
    </div>
    <div class="flex flex-col items-center mx-12">
      <a href="profile.html"><i class="fas fa-user text-black text-2xl"></i></a>
      <span class="text-black text-sm">Profile</span>
    </div>
  </footer>
</body>

</html>