{% extends 'webpages/main.html' %}
{% load static %}

{% block content %}

<main class="flex-grow bg-white">

    <!-- Search Bar -->
    <div class="p-4">
      <div class="relative">
        <input class="px-20 p-2 pl-10 rounded-full border border-gray-300" placeholder="Search for Plants"
          type="text" />
        <i class="fas fa-search absolute left-3 top-3 text-gray-400">
        </i>
      </div>
    </div>

    <!-- Discover Section -->
    <div class="p-5">
      <h2 class="text-lg font-semibold">
        Discover the World of Plants
      </h2>
      <div class="flex space-x-4 md:grid-cols-6 gap-4 mt-4 justify-center">
        <div class="flex flex-col items-center bg-[#D7ECCD] p-4 rounded-lg min-w-[150px]">
         <a href="capture.html"><i class="fas fa-camera text-2xl"></i></a>
          <span class="mt-4">
            Capture
          </span>
        </div>
        <div class="flex flex-col items-center bg-[#D7ECCD] p-4 rounded-lg min-w-[150px]">
          <a href="upload.html"><i class="fas fa-upload text-2xl"></i></a>
          <span class="mt-4">
            Upload
          </span>
        </div>
      </div>
    </div>

    <!-- Categories Section -->
    <div class="p-5">
      <h2 class="text-lg font-semibold">
        Categories
      </h2>
      <div class="flex overflow-x-auto space-x-4 mt-4 no-scrollbar">
        <div class="flex flex-col items-center bg-[#D7ECCD] p-4 rounded-lg min-w-[220px]">
          <a href="#"><img alt="Flowers" class="h-16 w-16" height="100" src="{% static 'images/flower.png' %}" width="100" /></a>
          <span>Flowers</span>
        </div>
        <div class="flex flex-col items-center bg-[#D7ECCD] p-4 rounded-lg min-w-[220px]">
          <a href="#"><img alt="Trees" class="h-16 w-16" height="100" src="{% static 'images/tree.png' %}" width="100" /></a>
          <span>Trees</span>
        </div>
        <div class="flex flex-col items-center bg-[#D7ECCD] p-4 rounded-lg min-w-[220px]">
          <a href="#"><img alt="Shrubs" class="h-16 w-16" height="100" src="{% static 'images/shrub.png' %}" width="100" />
            <span>Shrubs</span></a>
        </div>
        <div class="flex flex-col items-center bg-[#D7ECCD] p-4 rounded-lg min-w-[220px]">
          <img alt="Herbs" class="h-16 w-16" height="100" src="{% static 'images/herbs.png' %}" width="100" />
          <span>Herbs</span>
        </div>
        <div class="flex flex-col items-center bg-[#D7ECCD] p-4 rounded-lg min-w-[220px]">
          <img alt="Aquatic" class="h-16 w-16" height="100" src="{% static 'images/aquatic.png' %}" width="100" />
          <span>Aquatic</span>
        </div>
        <div class="flex flex-col items-center bg-[#D7ECCD] p-4 rounded-lg min-w-[200px]">
          <img alt="Ferns" class="h-16 w-16" height="100" src="{% static 'images/fern.png' %}" width="100" />
          <span>Ferns</span>
        </div>
        <div class="flex flex-col items-center bg-[#D7ECCD] p-4 rounded-lg min-w-[220px]">
          <img alt="Succulents" class="h-16 w-16" height="100" src="{% static 'images/succulent.png' %}" width="100" />
          <span>Succulents</span>
        </div>
        <div class="flex flex-col items-center bg-[#D7ECCD] p-4 rounded-lg min-w-[220px]">
          <img alt="Vines" class="h-16 w-16" height="100" src="{% static 'images/vines.png' %}" width="100" />
          <span>Vines</span>
        </div>
      </div>
    </div>
    <div class="flex justify-end mt-2">
      <a href="categories.html"><button class="text-green-600 right-10 hover:text-[#B1E09C]">
        See More
        <i class="fas fa-arrow-right">
        </i></a>
      </button>
    </div>
    </div>


  </main>

{% endblock %}